credentials.yaml
data/*
!/data/.gitkeep
output/*
!/output/.gitkeep

notebooks/
*.ipynb
*.html

__pycache__/
.idea
.vscode/
.spyproject/
.ipynb_checkpoints/
.DS_Store

.environment.yml
environment_old.yml
src/theme.scss
src/plot_utils.py
src/test_data_pull_files
src/output/*
!/src/output/.gitkeep
src/.quarto/